:root {
  --amarelo-sun: #FFDE59;
  --azul-sun: #649AE1;
  --laranja-sun: #ff914d;
  --preto: #000000;
  --branco: #FFFFFF;
}

body {
  background-color: var(--branco);
  color: var(--preto);
  font-family: Arial, sans-serif;
}

h2 {
  color: var(--preto);
}
/* From Uiverse.io by nikk7007 */ 
.bubbles {
  --c1: #ffffff; /* Recommendation: same background color */
  --c2: #000000;
  --size-letter: 20px; /* diminuído de 32px para 20px */
  padding: 0.3em 0.7em; /* padding reduzido */
  font-size: var(--size-letter);

  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--c2);
  border-radius: 0.2em;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.bubbles > .text {
  font-weight: 700;
  color: var(--c2);
  position: relative;
  z-index: 1;
  transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
}

.bubbles::before {
  top: 0;
  left: 0;
}

.bubbles::after {
  top: 100%;
  left: 100%;
}

.bubbles::before,
.bubbles::after {
  content: "";
  width: 150%;
  aspect-ratio: 1/1;
  scale: 0;
  transition: 1000ms cubic-bezier(0.76, 0, 0.24, 1);

  background-color: var(--c2);
  border-radius: 50%;

  position: absolute;
  translate: -50% -50%;
}

.bubbles:hover {
  & > span {
    color: var(--c1);
  }
  &::before,
  &::after {
    scale: 1;
  }
}

.bubbles:active {
  scale: 0.98;
  filter: brightness(0.9);
}
